<mat-card>
  <mat-card-title>Mot vocabulaire</mat-card-title>
  <div class="answer">
    <span>{{prefix}}</span>
    <!--label>Votre réponse</label-->
    <input #answerInput placeholder="Votre réponse" [(ngModel)]="userInput" (keydown.enter)="validate()"
      autocomplete="off" spellcheck="false" [disabled]="playDisable()">

  </div>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <button mat-raised-button color="primary" (click)="validate()" [disabled]="validationDisable()">Valider</button>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <button mat-fab color="accent" aria-label="Example icon button with a plus one icon" (click)='play()'
    matTooltip="Rejouer" [disabled]="playDisable()">
    <mat-icon>play_circle_filled</mat-icon>
  </button>
  <div *ngIf="validation">
    <app-corrector [given]="given" [correct]="getMot()"></app-corrector>
  </div>
  <br />

</mat-card>
<br />
<mat-card>
  <mat-card-title>Contrôle voix</mat-card-title>
  <mat-form-field appearance="fill">
    <mat-label>Choix de voix</mat-label>
    <mat-select [(value)]="selectedVoice">
      <mat-option *ngFor="let v of voices" [value]="v" lang="v.lang">{{v.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <label>Pitch {{pitch}}</label>
    <br />
    <mat-slider
      thumbLabel
      [(ngModel)]="pitch"
      step="0.1"
      min="0"
      max="2"
      aria-label="units"></mat-slider>
    <mat-form-field appearance="outline">
      <input matInput type="number" [(ngModel)]="pitch">
    </mat-form-field>

  </div>
  <div>
    <label>Rate {{rate}}</label>
    <br />
    <mat-slider
      thumbLabel
      [(ngModel)]="rate"
      step="0.1"
      min="0.1"
      max="10"
      aria-label="units"></mat-slider>
    <mat-form-field appearance="outline">
      <input matInput type="number" [(ngModel)]="rate">
    </mat-form-field>
  </div>
  <div>
    <label>Volume {{volume}} %</label>
    <br />
    <mat-slider
      thumbLabel
      [(ngModel)]="volume"
      step="1"
      min="0"
      max="100"
      aria-label="units"></mat-slider>
    <mat-form-field appearance="outline">
      <input matInput type="number" [(ngModel)]="volume">
    </mat-form-field>
  </div>
</mat-card>