
$aswerFontSize : x-large;
.answer input{
    font-size: $aswerFontSize;
    background-color: darkgray;
    border: 0;
}

.answer span{
    font-size: $aswerFontSize;
}

.answer {
    margin: 1em 0 1em;
}

#indice {
    margin-top: 0.5em;
}