<mat-card>
  <mat-card-title>Mot vocabulaire</mat-card-title>
  <div class="answer">
    <span>{{prefix}}</span>
    <!--label>Votre réponse</label-->
    <input #answerInput placeholder="Votre réponse" [(ngModel)]="userInput" (keydown.enter)="validate()"
      autocomplete="off" spellcheck="false" [disabled]="playDisable()">

  </div>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <button mat-raised-button color="primary" (click)="validate()" [disabled]="validationDisable()">Valider</button>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <button mat-fab color="accent" aria-label="Example icon button with a plus one icon" (click)='play()'
    matTooltip="Rejouer" [disabled]="playDisable()">
    <mat-icon>play_circle_filled</mat-icon>
  </button>
  <div *ngIf="validation">
    <app-corrector [given]="given" [correct]="getMot()"></app-corrector>
  </div>
  <br />

</mat-card>
<br />
<mat-card>
  <mat-card-title>Contrôle voix</mat-card-title>
  <mat-form-field appearance="fill">
    <mat-label>Choix de voix</mat-label>
    <mat-select [(value)]="selectedVoice">
      <mat-option *ngFor="let v of voices" [value]="v" lang="v.lang">{{v.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <label>Pitch {{pitch}}</label>
    <app-input-slider [min]="pitchMin"
      [max]="pitchMax" [value]="pitch" step="0.1" (changeValue)="changePitch($event)" label="Pitch"></app-input-slider>
  </div>
  <div>
    <label>Rate {{rate}}</label>
    <app-input-slider [min]="rateMin"
      [max]="rateMax" [value]="rate" step="0.1" (changeValue)="changeRate($event)" label="Rate"></app-input-slider>
  </div>
  <div>
    <label>Volume {{volume}} %</label>
    <app-input-slider min=1
      max=100 [value]="volume" step="1" (changeValue)="changeVolume($event)" label="Volume"></app-input-slider>

  </div>
</mat-card>