$answerFontSize: x-large;

#__answerInput {
    font-size: $answerFontSize;
    background-color: darkgray;
    border: 0;
    width: 10em;
}

.answerInput {
    font-size: large;
    
    width: 12em;
}

#answerPrefix {
    font-size: $answerFontSize;
    margin-right: 0.5em;
}

.answer {
    margin: 1em 0 1em;
}

#indice {
    margin-top: 0.5em;
    max-width: 30em;
}

.answerLine {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
