<div *ngIf="all_ok; else notShow">
    <div class="corrector">
        <span class="typeGood">{{given}}</span>
    </div>
</div>
<ng-template #notShow>
    <div class="corrector">
        <span *ngFor="let elem of givenElems; let i = index" [ngClass]="setClassGiven(elem)">{{elem.text}}</span>
    </div>
    <span id="typearrow">&darr;</span>
    <div class="corrector">
        <span *ngFor="let elem of correctElems; let i = index" [ngClass]="setClassCorrect(elem)">{{elem.text}}</span>
    </div>
</ng-template>