@if (all_ok) {
  <div>
    <div class="corrector">
      <span class="typeGood">{{given}}</span>
    </div>
  </div>
} @else {
  <div class="corrector">
    @for (elem of givenElems; track elem; let i = $index) {
      <span [ngClass]="setClassGiven(elem)">{{elem.text}}</span>
    }
  </div>
  <span id="typearrow">&darr;</span>
  <div class="corrector">
    @for (elem of correctElems; track elem; let i = $index) {
      <span [ngClass]="setClassCorrect(elem)">{{elem.text}}</span>
    }
  </div>
}
