<!--a mat-button href="speech" >Speech</a><br/>
<a mat-button href="correctortest" >Test du correcteur</a><br/ -->

<div *ngFor="let theme of voc_themes">
  <h2>Theme {{theme.theme}}</h2>
  <div class="semaine-chooser">
    <a
      *ngFor="let semaine of theme?.semaines"
      mat-raised-button
      (click)="practice(theme.theme, semaine.semaine)"
      href="cardcontrol"
    >
      Semaine {{semaine.semaine}}
    </a>
    <a
    *ngFor="let serie of theme?.series"
    mat-raised-button
    (click)="practice_serie(theme.theme, serie.id)"
    href="cardcontrol"
  >
    Serie {{theme.theme}}.{{serie.id}}
  </a>
  </div>
</div>
