<mat-slider thumbLabel [step]="step" [min]="min" [max]="max" aria-label="units">
  <input
    matSliderThumb
    [value]="formControl.value"
    (change)="formControl.setValue(value)"
    />
</mat-slider>
<mat-form-field appearance="outline" class="valueInput">
  <mat-label>{{label}}</mat-label>
  <input
    matInput
    type="number"
    [formControl]="formControl"
    [errorStateMatcher]="matcher"
    [min]="min"
    [max]="max"
    />
  @if (formControl.hasError('required')) {
    <mat-error>
      SVP le champs ne peux etre vide
    </mat-error>
  }
  @if (formControl.hasError('min')) {
    <mat-error>
      SVP la valeur minimum est {{min}}
    </mat-error>
  }
  @if (formControl.hasError('max')) {
    <mat-error>
      SVP la valeur maximum est {{max}}
    </mat-error>
  }
</mat-form-field>
