<mat-accordion>
  @for (theme of themes; track theme; let i = $index) {
    <mat-expansion-panel
      [expanded]="step === i"
      (opened)="setStep(i)"
      >
      <mat-expansion-panel-header>
        <mat-panel-title class="panel-title">
          Thème {{ theme.theme }} {{ theme.description }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-raised-button [cdkCopyToClipboard]="copyTheme(theme.theme)" color="primary">Copier les mots</button>
      <ul>
        @for (semaine of theme.semaines; track semaine) {
          <li>
            <h2>Semaine {{ semaine.semaine }}</h2>
            <button mat-raised-button>Copier les mots</button>
            @for (groupe of semaine.groupes; track groupe) {
              <div>
                <h3 class="indice" [innerHTML]="groupe.indice"></h3>
                <ul>
                  @for (mot of groupe.mots; track mot) {
                    <li>
                      <span class="mot"
                        >{{ mot.mot }}
                        @if (mot.alt) {
                          OU {{ mot.alt }}
                        }
                      </span>
                      {{ getType(mot) }}
                    </li>
                  }
                </ul>
              </div>
            }
          </li>
        }
        @for (serie of theme.series; track serie) {
          <li>
            <h2>Série {{ theme.theme }}.{{ serie.id }}</h2>
            <button mat-raised-button [cdkCopyToClipboard]="copySerie(theme.theme, serie.id)">Copier les mots</button>
            <ul>
              @for (mot of serie.mots; track mot) {
                <li>
                  <span class="mot"
                    >{{ mot.mot }}
                    @if (mot.alt) {
                      OU {{ mot.alt }}
                    }
                  </span>
                  {{ getType(mot) }}
                </li>
              }
            </ul>
          </li>
        }
        @for (mot of theme.mots; track mot) {
          <li>{{ mot.mot }} {{ mot.classe }}</li>
        }
      </ul>
    </mat-expansion-panel>
  }
</mat-accordion>
<br />
<button mat-raised-button color="accent" (click)="setStep(null)">
  Fermer tout
</button>
