<mat-accordion>
  <mat-expansion-panel *ngFor="let theme of themes; index as i;" [expanded]="step === i" (opened)="setStep(i)">
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title">
        Thème {{theme.theme}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ul>
      <li *ngFor="let semaine of theme.semaines">
        <h2>Semaine {{semaine.semaine}}</h2>
        <div *ngFor="let groupe of semaine.groupes">
          <h3 class="indice" [innerHTML]="groupe.indice"></h3>
          <ul>
            <li *ngFor="let mot of groupe.mots">
              <span class="mot">{{mot.mot}}
                <ng-template [ngIf]="mot.alt"> OU {{mot.alt}}</ng-template>
              </span> {{mot.classe}} {{getGenre(mot)}}
            </li>
          </ul>
        </div>
      </li>
      <li *ngFor="let mot of theme.mots">
        {{mot.mot}} {{mot.classe}}
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
<br/>
<button mat-raised-button color="accent" (click)="setStep(null)">Fermer tout</button>
