<p>speech works!</p>

<mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selectedVoice">
      <mat-option *ngFor="let v of voices" [value]="v.name" lang="v.lang">{{v.name}}</mat-option>
    </mat-select>
  </mat-form-field>

 
  
    <label >pitch {{pitch}}</label>

  <mat-slider
  thumbLabel
  [(ngModel)]="pitch"
  step="0.1"
  min="0"
  max="2"
  aria-label="units"></mat-slider>

  <label >rate {{rate}}</label>

  <mat-slider
  thumbLabel
  [(ngModel)]="rate"
  step="0.1"
  min="0.1"
  max="10"
  aria-label="units"></mat-slider>
  <br/>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Phrase à dire</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="textToSpeak" type="text">
  </mat-form-field>
 <span>&nbsp;</span><button mat-raised-button color="accent" (click)="test()">Speak</button>



 <ul>
  <li *ngFor="let theme of themes">
    <h2>{{theme.theme}}</h2>
  </li>
</ul>