<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Vocabulaire pour Camellia</h1>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDialog()">
    <mat-icon>settings</mat-icon> Contrôle de la voix
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuTheme">
    <mat-icon>color_lens</mat-icon>
    <span>Couleurs</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuVocTheme">
    <mat-icon class="material-symbols-outlined">speaker_notes</mat-icon>
    <span>Jazz Themes</span>
  </button>
  <a mat-menu-item href="vocabulaire">
    Liste des mots
  </a>
  <a mat-menu-item href="cardcontrol">
    Pratique
  </a>
</mat-menu>

<mat-menu #menuTheme="matMenu">
  <mat-radio-group
    aria-label="Select an option"
    class="menu-radio-group"
    [(ngModel)]="app_config.color_theme"
    (change)="menuThemeRadioChange($event)"
  >
    <div mat-menu-item *ngFor="let theme of COLOR_THEMES">
      <mat-radio-button [value]="theme.value">{{theme.label}}</mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>

<mat-menu #menuVocTheme="matMenu">
  <button
    mat-menu-item
    [matMenuTriggerFor]="menuVocSemaine"
    *ngFor="let theme of voc_themes"
    [matMenuTriggerData]="theme"
  >
    <span>Theme {{theme.theme}}</span>
  </button>
</mat-menu>

<mat-menu #menuVocSemaine="matMenu">
  <ng-template matMenuContent let-voc_theme_id="theme" let-semaines="semaines">
    <mat-radio-group
      aria-label="Select an option"
      class="menu-radio-group"
      (change)="menuVocThemeRadioChange($event)"
    >
      <div mat-menu-item *ngFor="let semaine of semaines">
        <mat-radio-button
          [value]="getSemaineValue(voc_theme_id, semaine.semaine)"
          [checked]="isSemaineChecked(voc_theme_id, semaine.semaine)"
          >Semaine {{semaine.semaine}}</mat-radio-button
        >
      </div>
    </mat-radio-group>
  </ng-template>
</mat-menu>
<router-outlet></router-outlet>
