<div class="selectContainer">
    <div>
        <h4>Thème</h4>
        <mat-form-field appearance="fill">
            <mat-label>Choisisez un thème</mat-label>
            <mat-select [(value)]="theme">
                <mat-option *ngFor="let theme of themes" [value]="theme">
                    Thème {{theme.theme}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <h4>Semaine</h4>
        <mat-form-field appearance="fill">
            <mat-label>Choisisez une semaine</mat-label>
            <mat-select (selectionChange)="onChangeSemaine($event.value)">
                <mat-option *ngFor="let sem of theme?.semaines" [value]="sem">
                    Semaine {{sem.semaine}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<mat-card class="example-card">


    <mat-card-header>
        <button mat-raised-button color="primary" (click)="previous()" [disabled]="prevDisabled">
            <mat-icon>arrow_back_ios</mat-icon>
            Précédent
        </button>

        <button mat-raised-button color="primary" (click)="next()" [disabled]="nextDisabled">Suivant <mat-icon>
                arrow_forward_ios</mat-icon></button>
        <br />
        <div *ngIf='mots.length > 0'>
            Mot de vocabulaire {{motIndex + 1}} de {{mots.length}}
        </div>
    </mat-card-header>

    <app-card></app-card>

    <app-corrector></app-corrector>
</mat-card>