@use '@angular/material' as mat;

// Default theme
$my-app-primary: mat.define-palette(mat.$teal-palette, 700, 100, 800);
$my-app-accent: mat.define-palette(mat.$green-palette, 700, 100, 800);
//$my-app-theme: mat.define-light-theme($my-app-primary, $my-app-accent);
$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

// Dark theme
$dark-primary: mat.define-palette(mat.$blue-grey-palette);
$dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$dark-warn: mat.define-palette(mat.$deep-orange-palette);
$dark-theme:mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn
      ),
      typography: mat.define-typography-config(),
      density: 0
    )
  );
    


// Light theme
$light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$light-accent: mat.define-palette(mat.$brown-palette, 200);
$light-warn: mat.define-palette(mat.$deep-orange-palette, 200);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

// Themes from
// https://github.com/angular/components/tree/master/src/material/core/theming/prebuilt

// deeppurple-amber
$deeppurple-amber-primary: mat.define-palette(mat.$deep-purple-palette);
$deeppurple-amber-accent: mat.define-palette(
  mat.$amber-palette,
  A200,
  A100,
  A400
);

$deeppurple-amber-theme: mat.define-light-theme(
  (
    color: (
      primary: $deeppurple-amber-primary,
      accent: $deeppurple-amber-accent
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

// indigo-pink
$indigo-pink-primary: mat.define-palette(mat.$indigo-palette);
$indigo-pink-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$indigo-pink-theme: mat.define-light-theme(
  (
    color: (
      primary: $indigo-pink-primary,
      accent: $indigo-pink-accent
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

// pink-bluegrey
$pink-bluegrey-primary: mat.define-palette(mat.$pink-palette, 700, 500, 900);
$pink-bluegrey-accent: mat.define-palette(
  mat.$blue-grey-palette,
  A200,
  A100,
  A400
);

$pink-bluegrey-theme: mat.define-dark-theme(
  (
    color: (
      primary: $pink-bluegrey-primary,
      accent: $pink-bluegrey-accent
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

// purplegreen
$purple-green-primary: mat.define-palette(mat.$purple-palette, A200);
$purple-green-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$purple-green-warn: mat.define-palette(mat.$red-palette);
$purple-green-theme: mat.define-dark-theme(
  (
    color: (
      primary: $purple-green-primary,
      accent: $purple-green-accent,
      warn: $purple-green-warn
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

// candy
$candy-primary: mat.define-palette(mat.$orange-palette);
$candy-accent: mat.define-palette(mat.$brown-palette);
$candy-warn: mat.define-palette(mat.$red-palette);
$candy-theme:mat.define-light-theme(
  (
    color: (
      primary: $candy-primary,
      accent:   $candy-accent,
      warn:   $candy-warn
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

$all_themes: (
  '': $my-app-theme,
  dark-theme: $dark-theme,
  light-theme: $light-theme,
  deeppurple-amber: $deeppurple-amber-theme,
  indigo-pink: $indigo-pink-theme,
  pink-bluegrey: $pink-bluegrey-theme,
  purple-green: $purple-green-theme,
  candy: $candy-theme
);
