@use '@angular/material' as mat;
@use 'sass:map';
@use 'themes_variables';
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`

//@include mat.all-legacy-component-typographies();
@include mat.all-component-typographies();
@include mat.core();
//@include mat.legacy-core();



@function print-map ( $map, $str: "" ) {
  @each $k, $v in $map {
    @if type-of($v) == map {
      $str: "#{$str} \000D\000A #{$k}: ( #{print-map($v)} \000D\000A ), ";
    }
    @else {
      $str: "#{$str} \000D\000A \0009 #{$k}: #{$v}, ";
    }
  } // each
  @return $str;
} 

@mixin mix-toggle-custom($thclass, $th) {
  $color-config: mat.m2-get-color-config($th);

  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');

  $val: print-map($accent, "");

  //@debug "Theme #{$thclass} accent #{$val}";
  /*PIZZA*/
  .mat-button-toggle {
    background-color: mat.m2-get-color-from-palette($primary);
    color: mat.m2-get-color-from-palette($primary, default-contrast);
  }

  .mat-button-toggle-checked {

    $background-color : mat.m2-get-color-from-palette($accent);
    background-color: $background-color;

    $color : mat.m2-get-color-from-palette($accent, default-contrast);
    color: $color!important;
    //@debug "#{$thclass} bg col #{$background-color} col  #{$color} "
  }
}

@each $thclass, $th in themes_variables.$all_themes {
  @if $thclass == '' {
    @include mat.all-component-themes($th);
    //@include mix-toggle-custom($thclass, $th)
  } @else {
    .#{$thclass} {
      @include mat.all-component-colors($th);
      //@include mat.all-component-themes($th);
      //@include mix-toggle-custom($thclass, $th)
    }
  }
}